main{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}
#main-portfolio{
    display: flex;
    position: absolute;
    text-align: center;
    flex-direction: column;
    padding:90px var(--offset) 50px;
    margin: auto;
    box-sizing: border-box;
}
#main-portfolio--title{
    height: 40px;
    width: 100%;
    background-color: blue;
    margin: 0 0 16px;
    display: flex;
    text-align: center;
    justify-content: center;
}
#main-portfolio-title > div {
    display: inline-block;
    font-size: 4rem;

}
.main-portfolio--container > div{
    display: inline-block;
    width: 100%;
    height: 142px;
    background-color: var(--gray);
    border-radius: 10px;
    padding: 16px;
    margin: 0 0 16px; 
}
.main-portfolio--box{
    display: flex;
    position: relative;
    flex-direction: row;
    gap: var(--gutter);
}
.portfolio-hamburger{
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: var(--gutter);
    top: var(--gutter);   
}
.portfolio-hamburger > div {
    width: 100%;
    height: 2px;
    transition: 0.3s;
    background-color: var(--bg-5);
    /*align-self:center;*/
}

.main-portfolio--box > .main-portfolio--img{
    display: flex;
    position: relative;
    width: 150px;
    height: 110px;
    background-color: white;
    border-radius: 6px;
}
.main-portfolio--img > img{
    position: relative;
    width: 100%;
    padding: 0 20px;
    object-fit: contain;  
    overflow: hidden;
}
.portfolio-content{
    position: relative;
    width: 331.1px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.portfolio-content >div{
    display: inline-block;
    text-align: center;
    position: relative;
}
.portfolio-content>ul{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: blue;
}
.main-portfolio--box:hover .chlid img {
    transform: scale(1.1);
    transition: 0.3s;
} /*하... 호버 안되냐*/



@media screen and (max-width: 768px) {

}
