body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__container {
    margin-top: 30px;
    margin-bottom: 10px;
}

.header__text {
    text-decoration: none;
    color: linear-gradient(100deg, #eb07b9, #b818a2);
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

img {
    width: 200px;
    height: 150px;
}

.input-img {
    width: 200px;
    height: 150px;
}

.main__container {
    padding: 50px;
    display: flex;
    text-align: center;
    gap: 30px;
    width: 80%;
    flex-wrap: wrap;
    overflow-y: auto;
}

.title {
    text-decoration: none;
    color: black;
    font-weight: bold ;
}

.card-body {
    display: block;
    width: 250px;
}

.form__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-add {
    background-color: rgb(122, 122, 122);
    bottom: 30px;
    position: absolute;
}

.btn-danger {
    bottom: 30px;
    left: 42%;
    position: absolute;
}

.comment {
    margin-top: 5px;
    padding: 10px;
    display: flex;
    gap: 7px;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}