<h1>글 작성하기</h1>

<form method="post" action="lists/create/">
    {% csrf_token %}
    <label for="title">영화 제목:</label>
    <input type="text" id="title" name="title" required><br>
    <label for="release">개봉 년도:</label>
    <input type="text" id="release" name="release" required><br>
    <label for="director">감독:</label>
    <input type="text" id="director" name="director" required><br>
    <label for="actor">주연:</label>
    <input type="text" id="actor" name="actor" required><br>
    <label for="genre">장르:</label>
    <input type="text" id="genre" name="genre" required><br>
    <label for="score">별점:</label>
    <input type="text" id="score" name="score" required><br>
    <label for="runningTime">러닝타임:</label>
    <input type="text" id="runningTime" name="runningTime" required><br>
    <label for="content">리뷰 내용:</label>
    <textarea id="content" name="content" required></textarea><br>
    <button type="submit">작성하기</button>
</form>
